.spin {
    animation: tux-spin infinite .05s linear;
}

.App-header {
    background-color: #1D2021;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

img {
    width: 50%;
}

.App-header p {
    color: #D6C9A4;
}

@keyframes tux-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
