body {
    font-family: Consolas;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Consolas;
    src:url("/public/fonts/consola.ttf");
}


code {
    font-family: Consolas;
}

.cursor {
    animation: blink 1s step-start infinite;
}

header {
    color: #D6C9A4;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0 5rem;
}

.TODO {
    color: #EDB32D;
}

.page {
    display: flex;

    flex-direction: column;
    height: 100vh;

    background-color: #1D2021;
    justify-content: space-between;
}

.article {
    align-items: center;
    color: #756B61;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0 10rem;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

footer {
    align-items: center;
    color: #756B61;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0 5rem;
}

.copyleft {
    display:inline-block;
    transform: rotateY(180deg);
}

footer img {
    height: 2rem;
    margin: .5rem;
    width: 2rem;
}

